@{
    <title>Basket Service API</title>
    <p>This is an instance of the Basket Service for TeamD's ThamCo e-commerce store!</p>
    <h2>Links</h2>
    <p><a href="/swagger"><strong>API Help Page</strong></a></p>
    <p>&nbsp;</p>
}
