@model CheckoutDTO

@{
    ViewData["Title"] = "Payment";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Payment</title>
</head>
<body>
    <form action="@Url.Action("PostPayment","Orders", @Model)" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key=@Model.stripeKey
                data-amount=@Model.totalCost
                data-name="TeamDThamCo Checkout"
                data-description="Your order from TeamDThamCo"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true"
                data-currency="gbp">
        </script>
    </form>
</body>
</html>


